lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
temp
/.idea
/test/tempCordovaKitchenMVC
/test/tempKitchen
/test/tempKitchenMvc
/test/tempMvc
/test/tempSingle
/test/tempTesting
/test/tempZepto
/test/tempCordovaZepto/.bowerrc
/test/tempCordovaZepto/Gruntfile.js
/test/tempCordovaZepto/README.md
/test/tempCordovaZepto/app/cordova.js
/test/tempCordovaZepto/app/css/app.css
/test/tempCordovaZepto/app/index.html
/test/tempCordovaZepto/app/js/app.js
/test/tempCordovaZepto/bower.json
/test/tempCordovaZepto/package.json
/test/tempSimple/.bowerrc
/test/tempSimple/Gruntfile.js
/test/tempSimple/README.md
/test/tempSimple/app/css/app.css
/test/tempSimple/app/index.html
/test/tempSimple/app/js/app.js
/test/tempSimple/bower.json
/test/tempSimple/package.json
